div
{
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

div:nth-child(odd)
{
    animation-direction: reverse;
}

@keyframes a1
{
    from {left: -8px; top: -8px;}
    to {left: 692px; top: -8px;}
}

@keyframes a2
{
    from {left: -208px; top: 192px}
    to {left: 492px; top: 192px}
}

@keyframes a3
{
    from {left: -408px; top: 392px;}
    to {left: 292px; top: 392px;}
}

@keyframes a4
{
    from {left: -608px;  top: 592px;}
    to {left: 92px; top: 592px;}
}

@keyframes a5
{
    from {left: -808px; top: 792px;}
    to {left: -108px; top: 792px;}
}

.d1
{
    animation-name: a1;
    animation-duration: 3.6s;
    top: -8px;
    left: -8px;
    background: red;
}

.d2
{
    animation-name: a2;
    animation-duration: 3.7s;
    left: -208px;
    top: 192px;
    background: orange;
}

.d3
{
    animation-name: a3;
    animation-duration: 3.8s;
    left: -408px;
    top: 392px;
    background: yellow;
}

.d4
{
    animation-name: a4;
    animation-duration: 3.9s;
    left: -608px;
    top: 592px;
    background: lime;
}

.d5
{
    animation-name: a5;
    animation-duration: 4s;
    left: -808px;
    top: 792px;
    background: cyan;
}